<html>
    <head>
        <title>Phraser</title>
        <style>
            body {
                font-family: Helvetica, Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1 style="text-align: center">{{phrase}}</h1>
        <p style="text-align: center; font-size: 10pt">
            <a href="/">alliterative phrase</a> | <a href="/random">random phrase</a> | <a href="/a">phrase starting with a specific letter (try different ones)</a>
            <br>
            <br>
            Made with <a href="http://dropwizard.io">Dropwizard</a>. Source and more information available <a href="http://github.com/jostly/phraser">on GitHub</a>.
            <br>
            <br>

        </p>
    </body>
</html>